
  {%- capture operating_system_obj %}R.{{ operating_system }}{% endcapture -%}
  {%- capture release_type_obj %}R.{{ operating_system }}.{{ release_type }}{% endcapture -%}
  {%- capture version %}{% raw %}{{{% endraw %}R.{{ operating_system }}.{{ release_type }}.version{% raw %}}}{% endraw %}{% endcapture -%}
  {%- capture revision %}{% raw %}{{{% endraw %}R.{{ operating_system }}.{{ release_type }}.revision{% raw %}}}{% endraw %}{% endcapture -%}
  {%- capture build_date_ymd %}{% raw %}{{{% endraw %}R.{{ operating_system }}.{{ release_type }}.build_date_ymd{% raw %}}}{% endraw %}{% endcapture -%}

  {%- capture download_url %}{% raw %}{{{% endraw %}R.{{ operating_system }}.{{ release_type }}.download_url{% raw %}}}{% endraw %}{% endcapture -%}

{%- if release_type == "nightly" -%}
  {%- assign css_class = "warning" -%}
{%- else -%}
  {%- assign css_class = "" -%}
{%- endif -%}

<!-- _includes/download_table_td.html -->
<td>
{% raw %}{% if {% endraw %}{{ operating_system_obj }} and {{ release_type_obj }}{% raw %} %}{% endraw %}
    <a href="{{ download_url }}" class="button-download expanded hollow {{ css_class }}">
        <span class="header">{{ version }}</span>
        <br/>revision {{ revision }}
        <br/>built {{ build_date_ymd }}
    </a>
{% raw %}{% else %}{% endraw %}
    <i>Not available</i>
{% raw %}{% endif %}{% endraw %}
</td>
