<!-- _includes/footer.html -->
<footer class="footer">
  <div class="container">
      <div class="content is-small has-text-centered">
          Content of this site is Copyright {{ site.time | date: "%Y" }} BWH and 3D Slicer contributors, unless otherwise noted.
          <br>For questions about the use of this site's content, please see <a href="https://www.slicer.org/wiki/Contact">Contact</a>.
          {%- if site.github_short_sha and site.github_short_sha != "" and site.github_short_sha != nil -%}
            {%- assign github_short_sha = site.github_short_sha -%}
          {%- else -%}
            {%- capture github_short_sha -%}
            {%- project_version commit short -%}
            {%- endcapture -%}
          {%- endif -%}
          <br>Last update {{ site.time | date: "%Y-%m-%d" }}. Revision <a id="revision" href="https://github.com/{{ site.github_repository }}/commit/{{ github_short_sha }}">{{ github_short_sha }}</a>.
      </div>
  </div>
</footer>
