<!-- _includes/navbar-column.html -->
<div class="navbar-item has-dropdown is-hoverable">
    <a href="{{ item.link | absolute_url }}" class="navbar-link {% if item.link == page.url %}is-active{% endif %}">{{ title }}</a>
    <div class="navbar-dropdown">
        {% for item in items %}

        {%- assign item_link = item.link | liquify -%}

        {%- assign item_link_firstchar = item_link | slice: 0, 1 -%}
        {%- assign force_internal_link_class = '' -%}
        {% unless site.is_primary_site %}
            {% if item_link_firstchar == "/" %}
                {%- assign item_link = "https://slicer.org" | append: item_link -%}
                {%- assign force_internal_link_class = 'force-internal-link' -%}
            {% endif %}
        {% endunless %}

        {%- assign item_link_prefix = item_link | slice: 0, 2 -%}
        {% if item_link_prefix != "{{" %}
        <a href="{{ item_link | absolute_url }}" class="navbar-item {{ force_internal_link_class }} {% if item_link == page.url %}is-active{% endif %}">
        {% else %}
        <a href="{{ item_link }}" class="navbar-item" class="navbar-item {% if item_link == page.url %}is-active{% endif %}">
        {% endif %}
            {% if item.icon %}
            <i class="{{ item.icon }}"></i>&nbsp;
            {% endif %}
            {{ item.name }}
        </a>
        {% endfor %}
    </div>
</div>
