// common variables ==========================
$font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$primary: #1F65B0 !default
$text-color: #576071

$logo-color-blue: $primary
$logo-color-green: #129A68
$logo-color-red: #EE3128
$logo-color-orange: #F26B31
$logo-color-yellow: #F2B300 //#F7BF21 - original logo color
$logo-color-brown: #CF582C

$bg-color-light-grey: rgba($logo-color-blue, .05)
$bg-color-light-green: rgba($logo-color-green, .02)

// download variables ==========================
$stable-download-color: #2199e8
$stable-download-hover-color: #0c4d78
$preview-download-color: #ffae00
$preview-download-hover-color: #805700

// Sizing Custom Variables ====================================
$header-height: 52px
$footer-height: 82px
// END Variables ====================================

// START Overridding theme variables ==========================

// ------------- hero --------------------------------------
$hero-body-padding-medium: 6rem 1.5rem //for home page hero

// ------------- Text --------------------------------------
$title-color: $text-color
$title-weight: 200
$subtitle-color: $text-color
$subtitle-weight: 400

// ------------- Footer --------------------------------------
$footer-background-color: $text-color
$footer-color: white
$footer-padding: 0.5rem 0rem 0.5rem

// END Overridding theme variables ============================
